$img-radius: 80px;
$title-radius: 24px;
$title-background-color: #EFF2F5;
$text-blue: #0071BC;
$text-dark: #333333;
$text-lightgray: #ADADAD;

.c-hero {
    width: 100%;
    height: 50vw;
    margin-bottom: 96px;
    display: flex;
    justify-content: right;
    &__main {
        position: relative;
        width: 65vw;
        height: 100%;
        display: flex;
        align-items: center;
    }
    &__img-box {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: $img-radius 0 0 $img-radius;
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__title-box {
        width: calc(320px + 10vw);
        height: 320px;
        background-color: $title-background-color;
        border-radius: $title-radius;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 62px;
        gap: 16px;
        z-index: 1;
        transform: translateX(-75%);
    }
    &__title-small {
        color: $text-blue;
        font-weight: 700;
    }
    &__title {
        color: $text-dark;
        font-size: 60px;
        font-weight: 700;
        letter-spacing: 2px;
    }
    &__scroll {
        color: $text-dark;
        position: absolute;
        bottom: 24px;
        left: 126px;
    }
    &__scroll-text {
        position: relative;
        &::before {
            position: absolute;
            content: "";
            width: 8px;
            height: 8px;
            top: 50%;
            transform: translate(0, -50%);
            left: -16px;
            background-color: $text-lightgray;
            border-radius: 50%;
        }
    }

    @media(max-width: 960px) {

    }
}
