$body-height: 680px;
$img-width: 976px;
$img-radius: 80px;
$title-box-width: 500px;
$title-box-height: 281px;
$title-background-color: #EFF2F5;
$title-radius: 24px;
$title-font-size: 60px;
$text-blue: #0071BC;
$text-dark: #333333;
$text-lightgray: #ADADAD;

.c-hero {
    position: relative;
    width: 100%;
    height: $body-height;
    margin-bottom: 96px;
    &__img-box {
        position: absolute;
        top: 0;
        right: 0;
        width: $img-width;
        height: 100%;
        overflow: hidden;
        border-radius: $img-radius 0 0 $img-radius;
    }
    &__img {
        height: 100%;
        object-fit: cover;
    }
    &__title-box {
        position: absolute;
        top: 198px;
        left: 80px;
        width: $title-box-width;
        height: $title-box-height;
        background-color: $title-background-color;
        border-radius: $title-radius;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 62px;
        gap: 12px;
    }
    &__title-small {
        color: $text-blue;
        font-weight: 700;
    }
    &__title {
        color: $text-dark;
        font-size: $title-font-size;
        font-weight: 700;
    }
    &__scroll {
        color: $text-dark;
        position: absolute;
        bottom: 24px;
        left: 126px;
    }
    &__scroll-text {
        position: relative;
        &::before {
            position: absolute;
            content: "";
            width: 8px;
            height: 8px;
            top: 50%;
            transform: translate(0, -50%);
            left: -16px;
            background-color: $text-lightgray;
            border-radius: 50%;
        }
    }
}
