.c-quiz-top {
    width: 100vw;
    height: 320px;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 120px;
    background-image: url('../images/quiz/bg-hero.jpeg');
    background-size: cover;
    &__title-box {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-left: 20%;
    }
    &__small-title {
        color: #fff;
        font-size: 18px;
    }
    &__title {
        color: #fff;
        font-size: 60px;
        font-weight: 700;
    }

    @media (max-width: 520px) {
        height: 120px;
        &__title-box {
            gap: 6px;
            margin-left: 10%;
        }
        &__small-title {
            font-size: 12px;
        }
        &__title {
            font-size: 32px;
        }
    }
}
