.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 15px 24px;
    &__logo {
        height: 28px;
        &__img {
            height: 100%;
        }
    }
    &__btns {
        display: flex;
        gap: 32px;
        &__nav {
            display: flex;
            align-items: center;
            &__inner {
                display: flex;
                gap: 32px;
                font-size: 14px;
                font-weight: 700;
                color: #666666;
            }
        }
        &__sns__inner {
            display: flex;
            gap: 16px;
            &__logo {
                border-radius: 50%;
                width: 49px;
                height: 49px;
                &::before {
                    content: "";
                    width: 50px;
                    height: 50px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: #eeeeee;
                    border-radius: 50%;
                    z-index: -1;
                }
                &--twitter {
                    position: relative;
                    background-color: #adadad;
                }
                &--instagram {
                    position: relative;
                    background-color: #ffffff;
                    & a {
                        display: block;
                        padding: 12px;
                    }
                }
            }
        }
    }
}
