/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

.l-wrapper {
  width: 100%;
  position: relative;
}

.l-header {
  width: 100%;
  height: 80px;
}

.l-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-hero {
  position: relative;
  width: 100%;
  height: 680px;
}
.c-hero__img-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 976px;
  height: 100%;
  overflow: hidden;
  border-radius: 80px 0 0 80px;
}
.c-hero__img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.c-hero__title-box {
  position: absolute;
  top: 198px;
  left: 80px;
  width: 500px;
  height: 281px;
  background-color: #EFF2F5;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 62px;
  gap: 12px;
}
.c-hero__title-small {
  color: #0071BC;
  font-weight: 700;
}
.c-hero__title {
  color: #333333;
  font-size: 60px;
  font-weight: 700;
}
.c-hero__scroll {
  color: #333333;
  position: absolute;
  bottom: 24px;
  left: 126px;
}
.c-hero__scroll-text {
  position: relative;
}
.c-hero__scroll-text::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  top: 50%;
  transform: translate(0, -50%);
  left: -16px;
  background-color: #ADADAD;
  border-radius: 50%;
}

.c-promotion {
  position: relative;
  margin: 0 auto;
  width: 70vw;
  max-width: 984px;
  height: 357px;
  border-radius: 48px;
  overflow: hidden;
}
.c-promotion ::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 113, 188, 0.5);
  z-index: -1;
}
.c-promotion__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.c-promotion__image {
  width: 100%;
  position: relative;
}
.c-promotion__contents {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.c-promotion__title {
  font-size: 36px;
  font-weight: 600;
  color: #fff;
  line-height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-promotion__line-icon {
  margin-right: 8px;
}
.c-promotion__text {
  font-size: 14px;
  color: #fff;
  line-height: 24px;
  text-align: center;
}
.c-promotion__button {
  position: relative;
  width: 50%;
  max-width: 320px;
  height: 50px;
  color: #666;
  background-color: #fff;
  text-align: center;
  border-radius: 98px;
}
.c-promotion__link-icon {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translate(0, -50%);
}

.p-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 24px;
}
.p-header__logo-box {
  height: 28px;
}
.p-header__logo-img {
  height: 100%;
}
.p-header__buttons {
  display: flex;
  gap: 32px;
}
.p-header__nav {
  display: flex;
  align-items: center;
}
.p-header__nav-list {
  display: flex;
  gap: 32px;
  font-size: 14px;
  font-weight: 700;
  color: #666666;
}
.p-header__sns-list {
  display: flex;
  gap: 16px;
}
.p-header__sns-logo {
  border-radius: 50%;
  width: 49px;
  height: 49px;
}
.p-header__sns-logo::before {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #eeeeee;
  border-radius: 50%;
  z-index: -1;
}
.p-header__sns-logo--twitter {
  position: relative;
  background-color: #adadad;
}
.p-header__sns-logo--instagram {
  position: relative;
  background-color: #ffffff;
}
.p-header__sns-logo--instagram a {
  display: block;
  padding: 12px;
}

/* ////////////////
Foundation
//////////////// */
/* ////////////////
Layout
//////////////// */
/* ////////////////
Object
//////////////// */