/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

.l-wrapper {
  width: 100%;
  position: relative;
}

.l-header {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 50;
  background-color: #fff;
}

.l-container {
  padding-top: 80px;
}

.l-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.l-footer {
  width: 100%;
}

.c-quiz-top {
  width: 100vw;
  height: 320px;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 120px;
  background-image: url("../images/quiz/bg-hero.jpeg");
  background-size: cover;
}
.c-quiz-top__title-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left: 20%;
}
.c-quiz-top__small-title {
  color: #fff;
  font-size: 18px;
}
.c-quiz-top__title {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
}
@media (max-width: 520px) {
  .c-quiz-top {
    height: 120px;
  }
  .c-quiz-top__title-box {
    gap: 6px;
    margin-left: 10%;
  }
  .c-quiz-top__small-title {
    font-size: 12px;
  }
  .c-quiz-top__title {
    font-size: 32px;
  }
}

.c-quiz-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 120px;
}

.c-quiz {
  width: 70%;
  margin: 0 auto;
}
.c-quiz--hide {
  display: none;
}
.c-quiz__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 36px;
  line-height: 54px;
  color: #fff;
  font-weight: 700;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.c-quiz__icon--q {
  background-color: #0071bc;
}
.c-quiz__icon--a {
  background-color: #e34e70;
}
.c-quiz__title {
  margin: 24px 0;
  font-size: 36px;
  line-height: 54px;
  font-weight: 600;
}
.c-quiz__image-box {
  width: 90%;
  margin: 48px auto;
}
.c-quiz__image {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.c-quiz__choices {
  margin: 24px 0;
  display: flex;
  gap: 24px;
}
.c-quiz__choice {
  border: 5px solid #eee;
  border-radius: 8px;
  padding: 24px;
  font-size: 18px;
  flex-grow: 1;
  font-weight: 700;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.c-quiz__choice--clicked {
  color: #0071bc;
  border-color: #0071bc;
  background-color: #eff2f5;
}
.c-quiz__choice--disabled {
  pointer-events: none;
}
.c-quiz__choice--disabled img {
  display: none;
}
.c-quiz__choice--hide {
  display: none;
}
.c-quiz__answer-area {
  width: 100%;
  padding: 24px 40px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.c-quiz__answer-area--hide {
  display: none;
}
.c-quiz__answer-area--correct {
  background-color: #fff2f5;
}
.c-quiz__answer-area--incorrect {
  background-color: #eff2f5;
}
.c-quiz__answer-title {
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  width: 100%;
}
.c-quiz__answer-title--correct {
  color: #e34e70;
}
.c-quiz__answer-title--incorrect {
  color: #0071bc;
}
.c-quiz__answer-inner {
  display: flex;
  width: 100%;
  justify-content: left;
  align-items: center;
  margin-top: 24px;
  gap: 16px;
}
.c-quiz__answer-letter {
  font-size: 24px;
  line-height: 42px;
}
.c-quiz__answer {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
}
.c-quiz__source {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 16px;
  padding: 32px;
  background-color: #f6f6f6;
  border-radius: 8px;
  margin-top: 16px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
}

.p-sns-icons {
  display: flex;
  gap: 16px;
}
.p-sns-icons__icon {
  border-radius: 50%;
  width: 49px;
  height: 49px;
}

.p-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 24px;
}
.p-header__logo-box {
  height: 28px;
}
.p-header__logo-img {
  height: 100%;
}
.p-header__buttons {
  display: flex;
  gap: 32px;
}
.p-header__nav {
  display: flex;
  align-items: center;
}
.p-header__nav-list {
  display: flex;
  gap: 32px;
  font-size: 14px;
  font-weight: 700;
  color: #666666;
}
@media (max-width: 520px) {
  .p-header__buttons {
    display: none;
  }
}

.p-promotion {
  position: relative;
  margin: 140px auto 0;
  width: 70vw;
  max-width: 984px;
  height: 357px;
  border-radius: 48px;
  overflow: hidden;
}
.p-promotion ::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 113, 188, 0.5);
  z-index: -1;
}
.p-promotion__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.p-promotion__image {
  width: 100%;
  position: relative;
}
.p-promotion__contents {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.p-promotion__title {
  font-size: 36px;
  font-weight: 600;
  color: #fff;
  line-height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-promotion__line-icon {
  margin-right: 8px;
}
.p-promotion__text {
  font-size: 14px;
  color: #fff;
  line-height: 24px;
  text-align: center;
}
.p-promotion__button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  max-width: 320px;
  height: 50px;
  color: #666;
  background-color: #fff;
  text-align: center;
  border-radius: 98px;
}
.p-promotion__link-icon {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translate(0, -50%);
}

.p-footer__main {
  width: 100%;
  margin-top: 80px;
  padding: 56px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p-footer__logo {
  margin-bottom: 24px;
}
.p-footer__official {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}
.p-footer__official-link {
  color: #666;
}
.p-footer__link-icon {
  margin-left: 4px;
}
.p-footer__credit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 36px 0;
}
.p-footer__credit-text {
  color: #666;
  font-size: 10px;
}

/* ////////////////
Foundation
//////////////// */
/* ////////////////
Layout
//////////////// */
/* ////////////////
Object
//////////////// */